<div class = "container" style="width:100%; height:80%">      
    <mat-grid-list cols="5" rowHeight="350px">
        <mat-grid-tile
            *ngFor="let producto of productos" colspan=1>
            <mat-card style="cursor:pointer;">
                <ngb-carousel style="height:240px; background-color: #E0E0E0; width:320px;" *ngIf=" producto.fotos != undefined && producto.fotos.length != 0">
                        <ng-template ngbSlide *ngFor="let imagen of producto.fotos">
                            <img src = "{{producto.imagen}}" color="#E0E0E0">
                            <div class="carousel-caption" style="background:rgba(239,239,239,0.5); color: black" >
                                {{producto.nombre}}
                            </div>
                        </ng-template>
                </ngb-carousel>
                <mat-card-title routerLink="../{{producto.id}}">
                    {{producto.id}}
                </mat-card-title>
                <mat-card-content routerLink="../{{producto.id}}">
                    Cantidad: {{producto.cantidad}}<br>
                    Unidades disponibles: {{producto.unidadesDisponibles}}
                </mat-card-content>
                <button class="btn btn-primary" (click)=anadirProducto(producto.id)>Añadir al carrito <span class="fa fa-cart-plus"></span></button>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <button mat-fab class="add-button" color="warn"><mat-icon>add</mat-icon></button>
    <button mat-fab class="add-button" color="primary" style="margin-right: 65px ;" (click)="ShowCarrito()"data-toggle="popover" data-placement="top" data-content="Pipe lo mama">
  <mat-icon>shopping_cart</mat-icon></button>
  <div id="demo">
    <div *ngIf=showCarrito>
            <div class="card" >
                    <div class="container-table100" style = "padding:0px; margin: 0px;">
                        <div class="wrap-table100" style="margin-top:0px">
                            <div class="table100 ver1 m-b-110" style="margin:0px auto">
                                <div class="table100-head" style="margin:0px;">
                                    <table style=" background-color:lightblue" class="table table-bordered">
                                        <thead>
                                            <tr class="row100 head">
                                                <th>id</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                    
                                    
                                        <tbody>
                                        <tr *ngFor="let p of productosCarrito " class="row100 body">
                                            <td>   {{p.id}}  </td>
                                            <td>   <strong>{{p.nombre}}</strong>  </td>
                                            <td>    {{p.precio}} </td>
                                            
                                            <td><button type="button" class="btn btn-danger" (click)="eliminarProducto(p.id)" ><span class="fa fa-trash"></span></button></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Subtotal:</strong></td>
                                            <td>  </td>
                                            <td>  </td>
                                            <td><strong> $ {{subtotal}}</strong></td>
                                        </tr>
                                        <tr>
                                       </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    
</div>
