<div class = "container-fluid col-sm-8">
    <div class = "create-button">
        <button class = "btn create-button-button" type = "button" [ngClass]="{ 'btn-primary': isHidden, 'btn-danger': !isHidden}" (click) = "isHidden = !isHidden">
            <p style="margin-bottom: 0px" *ngIf = "!isHidden">Ocultar</p>
            <p style="margin-bottom: 0px" *ngIf = "isHidden">Mostrar</p>
        </button>
    </div>
    <table class = "table table-dark">
        <thead>
            <tr>
                <th> # </th>
                <th> Nombre </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let producto of productos">
                <td style = "cursor: pointer;">
                    <dd class="figure-caption" style = "margin-bottom: 0px" routerLink="/productos/{{producto.id}}"> 
                        {{producto.id}} 
                    </dd>
                </td>
                <td style = "cursor: pointer;">
                    <dd class="figure-caption" style = "margin-bottom: 0px" routerLink= "/productos/{{producto.id}}">
                        {{producto.nombre}}
                    </dd>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf = "!productos || productos.length == 0"><tr><td rowspan="2" colspan="2">No hay nada para mostrar</td></tr></tfoot>
    </table>
    <div class="col-sm-8">
        <app-producto-create *ngIf="!isHidden"></app-producto-create>
    </div>
</div>