<div class = "container-fluid col-sm-8">
    <table class = "table table-dark">
        <thead>
            <tr>
                <th> # </th>
                <th> Nombre </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let producto of productos">
                <td style = "cursor: pointer;">
                    <dd class="figure-caption" routerLink="/productos/{{producto.id}}"> 
                        {{producto.id}} 
                    </dd>
                </td>
                <td>
                    <dd class="figure-caption" routerLink= "/productos/{{producto.id}}">
                        {{producto.nombre}}
                    </dd>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf = "!productos || productos.length == 0"><tr><td rowspan="2" colspan="2">No hay nada para mostrar</td></tr></tfoot>
    </table>
</div>