<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">TransaccionCliente: {{transaccionClienteDetail.cliente.nombre}}</p>
        <p class="h3 p-3">id transaccion: {{transaccionClienteDetail.id}}</p>
        <p class="h3 p-3">Tiempo: {{transaccionClienteDetail.Tiempo}}</p>
        <p class="h3 p-3">Monto: {{transaccionClienteDetail.Monto}}</p>
        <br>
        <div class="row border margin">
            <p class="h3 p-3">productos: </p>
           <!-- <app-producto-list [productos]="transaccionClienteDetail.productos"></app-producto-list>-->
        </div>
    </div>
  </div>