<div class="container-fluid">
    <div class="col-sm-2">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear transaccion proveedor</button>
            </div>
            <br>
            <br>
        <table class="table  table-bordered table-hover">
            <thead class="thead-dark">
                <tr >
                    <th colspan="5">Transacciones proveedor </th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let transaccionProveedor of transaccionesProveedor">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.proveedor.nombre}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
