<h1 mat-dialog-title>Crear un nuevo producto</h1>
<div mat-dialog-content>
 
  <mat-form-field>
        <input matInput type="number" [(ngModel)]="registro.cantidad" placeholder="Cantidad que representa el registro" required>
  </mat-form-field><br>
  <mat-form-field>
      <select matNativeControl [(ngModel)]="registro.tipoRegistro" placeholder="Tipo de registro" required>
            <option value="ORDEN_REAPROVISONAMIENTO">ORDEN_REAPROVISONAMIENTO</option>
            <option value="TRASLADO_BODEGA">TRASLADO_BODEGA</option>
            <option value="DESPACHO_CLIENTE">DESPACHO_CLIENTE</option>
            <option value="ROBO">ROBO</option>
            <option value="PERDIDA">PERDIDA</option>
            <option value="VENCIMIENTO">VENCIMIENTO</option>
      </select>
  </mat-form-field><br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color = "primary" (click)="send()" cdkFocusInitial>Crear</button>
</div>