<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">idCliente: {{clienteDetail.id}}</p>
        <p class="h3 p-3">nombreCliente: {{clienteDetail.nombre}}</p>
        <p class="h3 p-3">apellidoCliente: {{clienteDetail.apellido}}</p>
        <p class="h3 p-3">direccionEnvioCliente: {{clienteDetail.direccionEnvio}}</p>
        <p class="h3 p-3">cedulaCliente: {{clienteDetail.cedula}}</p>
        <br>
        <!---->
        <div class="jumbotron umnbotron-fluid">
        <p class= "h4 p-3" style=" text-align: center"> Transacciones ejecutadas</p> 
         <app-cliente-transaccion-cliente [transacciones]="clienteDetail.transaccionesCliente"></app-cliente-transaccion-cliente>
         <p>
            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">crear transacción</button>
            
        </p>
        </div>
        <div class="col-md-8">
                <div *ngIf="showCreate">
                        <app-cliente-add-transaccion-cliente [cliente]="clienteDetail"(cancel)="showHideCreate()" (create)="ngOnInit()" *ngIf="showCreate"(updateTransacciones)="updateTransacciones()"></app-cliente-add-transaccion-cliente> 
                
                
            </div>
            </div>
    </div>
</div>