<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">idCliente: {{clienteDetail.id}}</p>
        <p class="h3 p-3">nombreCliente: {{clienteDetail.nombre}}</p>
        <p class="h3 p-3">apellidoCliente: {{clienteDetail.apellido}}</p>
        <p class="h3 p-3">direccionEnvioCliente: {{clienteDetail.direccionEnvio}}</p>
        <p class="h3 p-3">cedulaCliente: {{clienteDetail.cedula}}</p>
        <br>
        <!---->
        <div class="jumbotron umnbotron-fluid">
        <p class= "h4 p-3" style=" text-align: center"> Transacciones ejecutadas</p> 
         <app-transaccion-cliente-list [transaccionesCliente]="clienteDetail.transaccionesCliente"></app-transaccion-cliente-list>
        </div>
    </div>
</div>