<div class="col-md-12">
    <div class="container-fluid" *ngIf="productoDetail">
        <p class="h2 p-2" style="padding-left: 0px">{{productoDetail.nombre}}</p>
        <p class="h6 p-6">Cantidad: {{productoDetail.cantidad}}</p>
        <p class="h6 p-6">Precio: {{productoDetail.precio}}</p>
        <p class="h6 p-6">Tipo producto: {{productoDetail.tipoProducto}}</p>
        <p class="h6 p-6">Unidades disponibles: {{productoDetail.unidadesDisponibles}}</p>
        <br>
        <div class="jumbotron umnbotron-fluid">
            <p class="h4 p-3" style=" text-align: center"> Registros del producto</p>
            <app-producto-registro [registros]="productoDetail.registros"></app-producto-registro>
            <p>
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un registro</button>

            </p>
        </div>
        <div class="col-md-8">
            <div *ngIf="showCreate">
                <app-producto-add-registro [producto]="productoDetail" (cancel)="showHideCreate()" (create)="ngOnInit()"
                    *ngIf="showCreate" (updateRegistros)="updateRegistros()"></app-producto-add-registro>


            </div>
        </div>
    </div>
</div>