.h3 {
    margin: 0px;
}
.p-3 {
    padding-left: 0px;
}

.panel-heading{
    background-color: rgb(123, 105, 228);
    color : white;
}
.jumbotron
{
background-color: rgb(246, 235, 255);
}
button{
    background-color : rgb(79, 62, 179);
}
h6, p{
    font-weight: bold;
}

.edit-button {
    position: fixed;
    right: 2.5%;
    bottom: 4%; 
}