<div class="container-fluid ">
    <div class="limiter">
            <form style="margin:10px;">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control"  id="myInput" placeholder="Filtrar por nombre">
                        </div>
                        <div class="col">
                            <button type="button" (click)="myFunction()" class="btn btn-primary">Aplicar filtro</button>
                        </div>
                    </div>
                </form>
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th>Proveedores</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="table100-body js-pscroll">
                        <table id="myTable">
                            <tbody>
                            <tr *ngFor="let proveedor of proveedores" class="row100 body">
                                <td style="cursor: pointer;" (click)="onSelected(proveedor.id)" id="nom">
                                    <dd class="figure-caption" routerLink="/proveedores/{{proveedor.id}}">{{proveedor.id}}</dd>
                                </td>
                                <td style="cursor: pointer;" (click)="onSelected(proveedor.id)" id="nom">
                                    <dd class="figure-caption" routerLink="/proveedores/{{proveedor.id}}">{{proveedor.nombre}}</dd>
                                </td>
                                <td>
                                    <button class="btn btn-primary" (click)="showHideEdit(proveedor.id)" data-toggle="modal"
                                        data-target="#myModal"><span class="fa fa-pencil"></span></button>
                                    <button type="button " class="btn btn-danger" (click)="deleteProveedor(proveedor.id)"><span
                                            class="fa fa-trash"></span></button>

                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button"
                                        class="btn" (click)="showHideCreate()" data-toggle="modal" data-target="#myModal2"><span
                                            class="fa fa-plus"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div *ngIf="showCreate">

            <div class="modal" id="myModal2">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Crear un proveedor</h4>
                            <button type="button" class="close" data-dismiss="modal" (click)="showHideCreate()">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <app-proveedor-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-proveedor-create>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showEdit">
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Editar un proveedor</h4>
                            <button type="button" class="close" data-dismiss="modal" (click)="showHideCreate() ">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <app-proveedor-edit [proveedor]="selectedProveedor" (cancel)="showHideEdit(selectedProveedor.id)"
                                (update)="updateProveedor()"></app-proveedor-edit>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>