<div class="container-fluid">
  <div class="col-sm-2">
      <table class="table  table-bordered table-hover">
          <thead class="thead-dark">
              <tr >
                  <th colspan="2">Factura info</th>    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let factura of facturas">
                  <td>{{factura.id}}</td>
                  <td>{{factura.fecha}}</td>
                  <td>{{factura.precio}}</td>
              </tr>
          </tbody>
      </table>
  </div>