<h1 mat-dialog-title>Crear una transaccion proveedor</h1>
<div mat-dialog-content>
  <mat-form-field>
        <input matInput type="number" [(ngModel)]="transaccionProveedor.monto" placeholder="Monto de la transaccion" required>
      </mat-form-field><br>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="transaccionProveedor.tiempo" placeholder="Tiempo de la transaccion" required>
  </mat-form-field><br>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color = "primary" (click)="send()" cdkFocusInitial>Crear</button>
</div>