<div class="container-fluid">
  <div class="col-sm-2">
      <table class="table  table-bordered table-hover">
          <thead class="thead-dark">
              <tr >
                  <th colspan="6">Cliente info</th>    
              </tr>
          </thead>
          <tbody>
              <th>clienteId</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>ciudad</th>
              <th>direccionEnvio</th>
              <th>cedula</th>
              <tr *ngFor = "let cliente of clientes">
                    <td style= "cursor: pointer;">
                        <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.id}}</dd>
                     </td>
                  <td style= "cursor: pointer;">
                    <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.nombre}}</dd>
                  </td>
                  <td style= "cursor: pointer;">
                    <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.apellido}}</dd>
                  </td>
                  <td style= "cursor: pointer;">
                    <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.ciudad}}</dd>
                  </td>
                  <td style= "cursor: pointer;">
                    <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.direccionEnvio}}</dd>
                  </td>
                  <td style= "cursor: pointer;">
                    <dd class= "figure-caption" routerLink="/clientes/{{cliente.id}}">{{cliente.cedula}}</dd>
                  </td>
              </tr>
          </tbody>
      </table>
      <div class="row justify-content-center align-self-center">
        <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
            (click)="showHideCreate()">Crear un cliente</button>
    </div>
  </div>
  <div class="col-8">
    <div *ngIf="selectedCliente">
        <app-cliente-detail [clienteDetail]="selectedCliente"></app-cliente-detail>
    </div>
    <div *ngIf="showCreate">
        <app-cliente-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-cliente-create>
    </div>
</div> 
</div>  