<div class="container-fluid">
  <div class="col-sm-2">
      <table class="table  table-bordered table-hover">
          <thead class="thead-dark">
              <tr >
                  <th colspan="3">Registro info</th>    
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let registro of registros">
                  <td  class="cc">{{registro.id}}</td>
                  <td>{{registro.cantidad}}</td>
                  <td>{{registro.tipoRegistro}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
