
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="proveedoresTag" class="nav-link" routerLink="/proveedores/list">Proveedores</a>
    </li>
    <li class="nav-item">
        <a id="productosTag" class ="nav-link" routerLink="/productos/list">Productos</a>
    </li>
    <li class="nav-item">
        <a id="transaccionProveedorTag" class="nav-link" routerLink="/transaccion-proveedor/list">Transacciones proveedor</a>
    </li>
    <li class="nav-item">
        <a id="facturaTag" class="nav-link" routerLink="/facturas/list">Facturas</a>
    </li>
    <li class = "nav-item">
        <a id="clientesTag" class="nav-link" routerLink="/clientes/list">Clientes</a>
    </li>
    <li class = "nav-item">
        <a id="registrosTag" class="nav-link" routerLink="/registros/list">Registros</a>
    </li>
</ul>
<div class="list">
    <router-outlet></router-outlet>
</div>
