<div class="col-md-12">
  <div class="container-fluid">   
        <p class="h3 p-3">Id Proveedor: {{transaccionProveedorDetail.proveedor.id}}</p>
      <p class="h3 p-3">Id Transaccion: {{transaccionProveedorDetail.id}}</p>
      <p class="h3 p-3">Tiempo: {{transaccionProveedorDetail.tiempo}}</p>
      <p class="h3 p-3">Monto: {{transaccionProveedorDetail.monto}}</p>
      <br>
      <div class="row border margin">
          <p class="h3 p-3">Productos: </p>
         <!-- <app-producto-list [productos]="transaccionProveedorDetail.productos"></app-producto-list>-->
      </div>
  </div>
</div>