<div class="container-fluid">
    <div class="col-sm-2">
        <table class="table  table-bordered table-hover">
            <thead>
                <th colspan="5">Transacciones ejecutadas</th>
            </thead>
            <thead class="thead-dark">
                <th>Codigo</th>
                <th>Monto</th>
                <th>Tiempo</th>
            </thead>
            <tbody>
                <tr *ngFor="let transaccionProveedor of transaccionesProveedor">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/proveedores/{{transaccionProveedor.proveedor.id}}/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.id}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/proveedores/{{transaccionProveedor.proveedor.id}}/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.monto}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/proveedores/{{transaccionProveedor.proveedor.id}}/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.tiempo}}</dd>
                    </td>
                </tr>

                <div *ngIf="selectedt">
                        <app-transaccion-proveedor-detail [transaccionProveedorDetail]="selectedt"></app-transaccion-proveedor-detail>
                     </div>
                
            </tbody>
        </table>
    </div>
    
</div>