<div class="container-fluid">
    <div class="col-sm-2">
        <table class="table  table-bordered table-hover">
            <thead>
                <th colspan="5">Transacciones ejecutadas</th>
            </thead>
            <thead class="thead-dark">
                <th>Codigo</th>
                <th>Monto</th>
                <th>Tiempo</th>
            </thead>
            <tbody>
                <tr *ngFor="let transaccionProveedor of transaccionesProveedor">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.id}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.monto}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/transaccion-proveedor/{{transaccionProveedor.id}}">{{transaccionProveedor.tiempo}}</dd>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <div class="row justify-content-center align-self-center">
                            <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button"
                                class="btn" (click)="showHideCreate()">Generar nueva orden pedido</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <div *ngIf="showCreate">
            <app-transaccion-proveedor-create [proveedor]="transaccionProveedorDetail" (cancel)="showHideCreate()"
                (create)="ngOnInit()" *ngIf="showCreate"></app-transaccion-proveedor-create>
        </div>
    </div>
</div>