<h1 mat-dialog-title>Editar un producto</h1>
<div mat-dialog-content>
    <input matInput [(ngModel)]="data.nombre" placeholder="Nombre del producto" required>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="data.fecha" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="data.precio" placeholder="Precio del producto" required>
  </mat-form-field><br>
  <mat-form-field>
      <select matNativeControl [(ngModel)]="data.tipoProducto" placeholder="Tipo del producto" required>
          <option  *ngFor="let tipo of tiposProducto">{{tipo}}</option>
      </select>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="data.unidadesDisponibles" placeholder="Unidades disponibles" required>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput [(ngModel)]="imagenes" placeholder="Imagenes (separadas por coma)" required>
  </mat-form-field><br>
  <mat-form-field>
    <select matNativeControl [(ngModel)]="data.perecedero" placeholder="¿Perecedero?" required>
        <option>true</option>
        <option>false</option>
    </select>
</mat-form-field><br>
<mat-form-field>
    <input matInput type="number" [(ngModel)]="data.cantidad" placeholder="Cantidad del producto" required>
</mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button color = "primary" (click)="send()" cdkFocusInitial>Crear</button>
</div>