#imgPro {
    height: 15em;
}
h4{
    color : white;
}
th {
    text-align: center;
}
td.cc{
    text-align: center;
}
button{
    background-color : rgb(79, 62, 179);
}
.thead{
    background-color: rgb(8, 178, 184);
}



.table-wrapper-scroll-y {
    display: block;
    max-height: 40em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }