<div class="container-fluid">
    <div class="col-sm-2">
        <table class="table  table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="6">productos</th>
                </tr>
            </thead>
            <tbody>
                <p>antes del ng</p>
                <tr *ngFor="let p of productos">
                  <td>{{p.id}}</td>
                  </tr>
                  <p>despuesd el ng</p>
            </tbody>
         </table>
    </div>
</div>
              