<div class="container-fluid">
    <div class="col-sm-2">
        <table class="table  table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th colspan="6">productos</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let p of productosCarrito">
                  <td>{{p.id}}</td>
                  <button type="button" class="btn btn-danger" (click)="eliminarProducto(p.id)" ><span class="fa fa-trash"></span></button>
                  </tr>
                  
                  

            </tbody>
         </table>
    </div>
</div>
              