<div class="row">
  <div class="col-12">
      <form name="proveedor" (ngSubmit)="f.form.valid && createProveedor()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="proveedorName"><b>Nombre</b></label>
          <input type="text" name="proveedorName" class="form-control" id="proveedorName" [(ngModel)]="proveedor.nombre"
            #proveedorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorName.invalid }" required>
          <div class="invalid-feedback">
            <div> El nombre del proveedor no ha sido suministrado.</div>
          </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-success" (click)="createProveedor()" data-dismiss="modal">Crear</button>
          <button type="button" class="btn btn-danger" (click)="cancelCreation()" data-dismiss="modal">Cancelar</button>
        </div>
      </form>
  </div>
  <div class="col-3"></div>
</div>