<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
    <br>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Adicionar un proveedor</div>
      <form name="proveedor" (ngSubmit)="f.form.valid && createProveedor()" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="proveedorName"><b>Nombre</b></label>
          <input type="text" name="proveedorName" class="form-control" id="proveedorName" [(ngModel)]="proveedor.nombre"
            #proveedorName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && proveedorName.invalid }" required>
          <div class="invalid-feedback">
            <div> El nombre del proveedor no ha sido suministrado.</div>
          </div>
        </div>
        <div class="row form-inline justify-content-center align-self-center">
          <button type="submit" class="btn btn-success">Crear</button>
          <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-3"></div>
</div>