<div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h2 class="text-center">Crear una transaccion proveedor</h2>
            <br>
            <form name="transaccionProveedor" (ngSubmit)="f.form.valid && createTransaccionProveedor()" #f="ngForm" novalidate>
                <div class="form-group">
                    <label for="transaccionProveedorId"><b>Id proveedor</b></label>
                    <input type="number" name="transaccionProveedorId" class="form-control" id="transaccionProveedorId" [(ngModel)]="transaccionProveedor.proveedor.id"
                        #transaccionProveedorId="ngModel" [ngClass]="{ 'is-invalid': f.submitted && transaccionProveedorId.invalid }" required>
                    <div class="invalid-feedback">
                        <div>Falta el id del proveedor con el que se realizará la transacción</div>
                    </div>
                </div>
                <div class="form-group">
                        <label for="transaccionProveedorMonto"><b>Monto</b></label>
                        <input type="number" name="transaccionProveedorMonto" class="form-control" id="transaccionProveedorMonto" [(ngModel)]="transaccionProveedor.monto"
                            #transaccionProveedorMonto="ngModel" [ngClass]="{ 'is-invalid': f.submitted && transaccionProveedorMonto.invalid }" required>
                        <div class="invalid-feedback">
                            <div>Falta el monto de la transaccion</div>
                        </div>
                    </div>
              
                <div class="form-group">
                        <label for="transaccionProveedorTiempo"><b>Tiempo de entrega</b></label>
                        <input type="number" name="transaccionProveedorTiempo" class="form-control" id="transaccionProveedorTiempo" [(ngModel)]="transaccionProveedor.tiempo"
                            #transaccionProveedorTiempo="ngModel" [ngClass]="{ 'is-invalid': f.submitted && transaccionProveedorTiempo.invalid }" required>
                        <div class="invalid-feedback">
                            <div>Falta el tiempo de entrega</div>
                        </div>
                    </div>
              
                <div class="row form-inline justify-content-center align-self-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <div class="divider"></div>
                    <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
      </div>
